@model IEnumerable<Luncher.Web.Models.RestaurantResponse>
@{
    ViewData["Title"] = "Home Page";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="text-center">
    @{
        var culture = new System.Globalization.CultureInfo("cs-CZ");
        var day = culture.DateTimeFormat.GetDayName(DateTime.Today.DayOfWeek);
        TimeZoneInfo cetTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Central European Standard Time");
        DateTime utcNow = DateTime.UtcNow;
        DateTime cetNow = TimeZoneInfo.ConvertTimeFromUtc(utcNow, cetTimeZone);
        var dayNum = (int)(5 - utcNow.DayOfWeek);
        var remaining = (new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 15, 55, 0) - cetNow);

        string FormatDays(int days) {
            if (days == 1) return "1 den";
            if (days >= 2 && days <= 4) return $"{days} dny";
            return $"{days} dní";
        }

        string FormatHours(int hours) {
            if (hours == 1) return "1 hodina";
            if (hours >= 2 && hours <= 4) return $"{hours} hodiny";
            return $"{hours} hodin";
        }

        string FormatMinutes(int minutes) {
            if (minutes == 1) return "1 minuta";
            if (minutes >= 2 && minutes <= 4) return $"{minutes} minuty";
            return $"{minutes} minut";
        }

        var dayText = FormatDays(dayNum);
        var hourText = FormatHours(remaining.Hours);
        var minuteText = FormatMinutes(remaining.Minutes);
    }
    <h1 class="display-4">Dnes je @day</h1>
    <div class="d-flex align-items-center justify-content-center mt-4">
        <i class="fas fa-beer fa-3x me-3" style="color: goldenrod;"></i>
        <h2 class="display-6">Už jenom @dayText @hourText a @minuteText</h2>
    </div>
    <hr/>
</div>

<div>
    @foreach (var restaurant in Model)
    {
        <div class="@restaurant.Name">
            <h2 style="display: inline-block">@restaurant.Name</h2>
            <span>|   </span>
            <button class="vote-btn" style="display: inline-block;">Hlasuj</button>
            <span>   |</span>
            <span class="votes" style="display: inline-block;font-weight: bold;">@restaurant.Votes</span>
            <br />

            @if (!restaurant.Soaps.Any() && !restaurant.Meals.Any())
            {
                <div>Nenalezeno žádné menu</div>
            }
            else
            {
                <h5>Polévky</h5>
                <ul>
                    @foreach (var soap in restaurant.Soaps)
                    {
                        <li>@soap.Name</li>
                    }
                </ul>
                <br />

                <h5>Hlavní</h5>
                <ul>
                    @foreach (var meal in restaurant.Meals)
                    {
                        <li>@meal.Name</li>
                    }
                </ul>
            }

            <hr />
        </div>
    }
</div>
